In [10]:
# importing libraries

import pandas as pd
import numpy as np

In [11]:
 ### LinearRegression is a class and train_test_split is a function
    
from sklearn.linear_model import LinearRegression  
from sklearn.model_selection import train_test_split

In [12]:
from sklearn.datasets import fetch_california_housing

In [13]:
# fetch_california_housing is function from sklearn

fetch_california_housing

In [14]:
# here converting function which is "fetch_california_housing" into object. 

data_object = fetch_california_housing()   ## data_object is Object of california housing function

In [15]:
#this is Dictionary data type.

data_object

{'data': array([[   8.3252    ,   41.        ,    6.98412698, ...,    2.55555556,
           37.88      , -122.23      ],
        [   8.3014    ,   21.        ,    6.23813708, ...,    2.10984183,
           37.86      , -122.22      ],
        [   7.2574    ,   52.        ,    8.28813559, ...,    2.80225989,
           37.85      , -122.24      ],
        ...,
        [   1.7       ,   17.        ,    5.20554273, ...,    2.3256351 ,
           39.43      , -121.22      ],
        [   1.8672    ,   18.        ,    5.32951289, ...,    2.12320917,
           39.43      , -121.32      ],
        [   2.3886    ,   16.        ,    5.25471698, ...,    2.61698113,
           39.37      , -121.24      ]]),
 'target': array([4.526, 3.585, 3.521, ..., 0.923, 0.847, 0.894]),
 'frame': None,
 'target_names': ['MedHouseVal'],
 'feature_names': ['MedInc',
  'HouseAge',
  'AveRooms',
  'AveBedrms',
  'Population',
  'AveOccup',
  'Latitude',
  'Longitude'],
 'DESCR': '.. _california_housing_dataset:\n\nCalifornia Housing dataset\n--------------------------\n\n**Data Set Characteristics:**\n\n    :Number of Instances: 20640\n\n    :Number of Attributes: 8 numeric, predictive attributes and the target\n\n    :Attribute Information:\n        - MedInc        median income in block group\n        - HouseAge      median house age in block group\n        - AveRooms      average number of rooms per household\n        - AveBedrms     average number of bedrooms per household\n        - Population    block group population\n        - AveOccup      average number of household members\n        - Latitude      block group latitude\n        - Longitude     block group longitude\n\n    :Missing Attribute Values: None\n\nThis dataset was obtained from the StatLib repository.\nhttps://www.dcc.fc.up.pt/~ltorgo/Regression/cal_housing.html\n\nThe target variable is the median house value for California districts,\nexpressed in hundreds of thousands of dollars ($100,000).\n\nThis dataset was derived from the 1990 U.S. census, using one row per census\nblock group. A block group is the smallest geographical unit for which the U.S.\nCensus Bureau publishes sample data (a block group typically has a population\nof 600 to 3,000 people).\n\nAn household is a group of people residing within a home. Since the average\nnumber of rooms and bedrooms in this dataset are provided per household, these\ncolumns may take surpinsingly large values for block groups with few households\nand many empty houses, such as vacation resorts.\n\nIt can be downloaded/loaded using the\n:func:`sklearn.datasets.fetch_california_housing` function.\n\n.. topic:: References\n\n    - Pace, R. Kelley and Ronald Barry, Sparse Spatial Autoregressions,\n      Statistics and Probability Letters, 33 (1997) 291-297\n'}

In [16]:
## converting data_object(which is in diuctionary data type) into pandas dataframe.

df_california = pd.DataFrame(data = data_object['data'], columns = data_object["feature_names"] )
df_california

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25
...,...,...,...,...,...,...,...,...
20635,1.5603,25.0,5.045455,1.133333,845.0,2.560606,39.48,-121.09
20636,2.5568,18.0,6.114035,1.315789,356.0,3.122807,39.49,-121.21
20637,1.7000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22
20638,1.8672,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32
20639,2.3886,16.0,5.254717,1.162264,1387.0,2.616981,39.37,-121.24

In [17]:
## MedHouseVal is the target variable here. We assigned values to it.

df_california['MedHouseVal'] =  data_object['target']
df_california

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422
...,...,...,...,...,...,...,...,...,...
20635,1.5603,25.0,5.045455,1.133333,845.0,2.560606,39.48,-121.09,0.781
20636,2.5568,18.0,6.114035,1.315789,356.0,3.122807,39.49,-121.21,0.771
20637,1.7000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22,0.923
20638,1.8672,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32,0.847
20639,2.3886,16.0,5.254717,1.162264,1387.0,2.616981,39.37,-121.24,0.894

In [18]:
# target variable is : "MedHouseVal"
# Input Variables are :  "MedInc	HouseAge	AveRooms	AveBedrms	Population	AveOccup	Latitude	Longitude"

df_california

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422
...,...,...,...,...,...,...,...,...,...
20635,1.5603,25.0,5.045455,1.133333,845.0,2.560606,39.48,-121.09,0.781
20636,2.5568,18.0,6.114035,1.315789,356.0,3.122807,39.49,-121.21,0.771
20637,1.7000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22,0.923
20638,1.8672,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32,0.847
20639,2.3886,16.0,5.254717,1.162264,1387.0,2.616981,39.37,-121.24,0.894

## __Now we are training the ML model

## 1. Creating the x & y Variables

In [19]:
#before training, we need to create the variables. Which are X & Y 
## slicing is used because we dont want to take MedHouseVal variable which is reserved for Y
## so, here created the X variable.

x = df_california.loc[:,"MedInc":"Longitude"] 
x

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25
...,...,...,...,...,...,...,...,...
20635,1.5603,25.0,5.045455,1.133333,845.0,2.560606,39.48,-121.09
20636,2.5568,18.0,6.114035,1.315789,356.0,3.122807,39.49,-121.21
20637,1.7000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22
20638,1.8672,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32
20639,2.3886,16.0,5.254717,1.162264,1387.0,2.616981,39.37,-121.24

In [20]:
y = df_california["MedHouseVal"] ## after creating x, here created the y variable.
y

0        4.526
1        3.585
2        3.521
3        3.413
4        3.422
         ...
20635    0.781
20636    0.771
20637    0.923
20638    0.847
20639    0.894
Name: MedHouseVal, Length: 20640, dtype: float64

## 2. now splitting the Train and test data

In [21]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.25) # default test size is 0.25

In [22]:
# creating the object for Linear regression class

lr_model = LinearRegression()

## 3. Fitting the data by .fit method

In [23]:
lr_model.fit(x_train, y_train)

LinearRegression()

## 4. Predict model

In [24]:
y_pred = lr_model.predict(x_test)

In [25]:
y_pred

array([3.25301202, 2.0049113 , 2.86225251, ..., 1.78085128, 2.04036996,
       0.64907608])

In [26]:
y_test

9353     5.00001
15409    1.62500
18158    4.30100
4024     2.21800
852      2.13200
          ...
13794    0.84900
1045     1.28600
974      2.38500
1409     2.05100
2038     0.62500
Name: MedHouseVal, Length: 5160, dtype: float64

## Final step: Checking accuracy with different built in models

### 1. r2_score from sklearn.metrics

In [27]:
## importing r2 score for prediction from sklearn metrics

from sklearn.metrics import r2_score

In [61]:
## predicting the model accuracy with r2_score 
## with the r2 score we got the 61.67% accuracy.Now checking accuracy with other models and will see how much it is 
## matching with r2 score

r2_value = r2_score(y_test,y_pred)
r2_value

0.6167014469441251

### 2. mean_absolute_error

In [43]:
from sklearn.metrics import mean_absolute_error

In [60]:
## with mean_absolute_error we got 53% accuracy

mae = mean_absolute_error(y_test, y_pred)
mae

0.533032278593337

### 3. mean_squared_error

In [48]:
from sklearn.metrics import mean_squared_error

In [62]:
## with mean_absolute_error we got 51% accuracy

mse = mean_squared_error(y_test, y_pred)
mse

0.514728308179877

### 4. Root mean Squared error

In [55]:
# importing library
from sklearn.metrics import mean_squared_error

In [58]:
## RMSE is the square root of "mse" which is mean_squared_error. 
## we got the highest accuracy score with this library. Accuracy is near about 71%

rmse = np.sqrt(mse) ## used numpy function here
rmse

0.7174456830867944

## CONCLUSION: 
### Root mean square is the best ML model between r2 score, mean absolute error & mean square error